#header {
  background-color: black;
}

#header h1 {
  color: #01d277;
  font-size: 2rem;
}

#logo {
  padding: 5px 0 5px 0;
}

#movieRow h3 {
  padding: 0;
}

.searchbar {
  padding: 5px;
  width: 100%;
}

.text-overlow {
  overflow: hidden;
}

.standard-btn {
  background-color: #01d277 !important;
  border-color: #01d277 !important;
}

.standard-btn:hover {
  background-color: white !important;
  color: #01d277 !important;
  cursor: pointer;
}
