#header {
  background-color: black;
}

#header h1 {
  color: #01d277;
}

#logo {
  padding: 5px;
}

#search {
  padding: 10px;
}

#movieRow {
  padding: 10px;
}

#movieRow h3 {
  padding: 0;
}

.text-overlow {
  overflow: hidden;
}

.standard-btn {
  background-color: #01d277 !important;
  border-color: #01d277 !important;
}

.standard-btn:hover {
  background-color: white !important;
  color: #01d277 !important;
  cursor: pointer;
}
